*{
    margin: 0px;
    padding: 0px;
    
}
.nav{
    background-color: bisque;
    padding: 2vh;
    margin: 1vh 2vh;
    
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav ul li a{
    margin: 2vh 1vh;
    text-decoration: none;
    color: black;
}
.search{
    border: none;
    height: 4vh;
    width: 30vh;
    margin-right:2vh ;
    font-size: 2.5vh;
    padding-left: 2vh;
    border-radius: 0.2vh;
}
.btnsearch{
    background-color: rgb(71, 71, 254);
    padding: 1vh 2vh;
    color: white;
    border-radius: 1vh;
}
.header{
    text-align: center;
    margin: 2vh;
}
.con{
    text-align: center;
}
.btnnews{
    margin: 2vh;
    padding: 1vh 3vh;
    background-color: lightcoral;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    border-radius: 3vh;
    width: 20vh;
}